body {
  /* background-color: #eaeff2; */
  background-color: #123b5a;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.container {
  width: 1053px;
  margin: auto;
  margin-top: 3em;
  /* margin: 3em; */
  height: 85vh;
  /* background-color: #f5eeed; */
  box-shadow: 8px 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  -webkit-border-radius: 6px 6x 6px 6px;
  border-radius: 6px;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-areas: 'header'
                       'main-content';
}

.header {
  grid-area: header;
  padding: 20px;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  font-family: 'Nunito', sans-serif;
  font-size: 3em;
  font-weight: bold;
  background-color: #383f4e;
  cursor: pointer;
}

.name {
  height: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.main-content {
  grid-area: main-content;
  background-color: #7d8193;
  -webkit-border-radius: 0px 0px 6px 6px;
  border-radius: 0px 0px 6px 6px;
  /* background-color: #eaeff2; */
}