.start-container {
  height: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.start-button {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #ede0df;
  -webkit-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  font-size: 3em;
  cursor: pointer;
}